<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'navbar.html' %}
{% block body %}
    <div id="all_courses">

        {% for course in courses %}
            <div class="{{ course.course_number }}_{{ course.group_number }}">
                <div class="ui message">
                    <h4> name:{{ course.name }}</h4>
                    <div> دانشکده:{{ course.department }}</div>
                    <div> روز:{{ course.get_first_day_display }} و {{ course.get_end_day_display }}</div>
                    <div> ـ
                        ساعت:{{ course.start_time.hour|stringformat:"02d" }}:{{ course.start_time.minute|stringformat:"02d" }}
                        و
                        {{ course.second_day.hour|stringformat:"02d" }}:{{ course.second_day.minute|stringformat:"02d" }}</div>
                    <div>دبیر:{{ course.teacher }}</div>
                    <a class="add" href="{% url 'get_course' course_id=course.id %}">get course</a>
                </div>
            </div>
            <br>

        {% endfor %}

    </div>
    <div id="my_courses">
        <div class="ui message">my courses</div>
        {% for course in my_courses %}
            <div class="{{ course.course_number }}_{{ course.group_number }}">
                <div class="ui message">
                    <h4> name:{{ course.name }}</h4>
                    <div> دانشکده:{{ course.department }}</div>
                    <div> روز:{{ course.get_first_day_display }} و {{ course.get_second_day_display }}</div>
                    <div> ـ
                        ساعت:{{ course.start_time.hour|stringformat:"02d" }}:{{ course.start_time.minute|stringformat:"02d" }}
                        و
                        {{ course.end_time.hour|stringformat:"02d" }}:{{ course.end_time.minute|stringformat:"02d" }}</div>
                    <div>دبیر:{{ course.teacher }}</div>
                    <a class="remove" href="{% url 'remove_course' course_id=course.id %}">remove course</a>
                </div>
            </div>
            <br>

        {% endfor %}

    </div>
    <form id="search_form" action="/courses/" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button name="submit" type="submit">submit</button>
    </form>
    <div id="search_result">
        {% for course in searched %}
            <div class="{{ course.course_number }}_{{ course.group_number }}">
                <div> اسم{{ course.name }}</div>
                <div> دبیر{{ course.teacher }}</div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
</body>
</html>