<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>setting</title>
</head>
<body>
{% extends "navbar.html" %}
{% block body %}
    <form class="ui form" method="post" id="setting_form" action="{% url 'setting' %}">
        {% csrf_token %}
        <input class="ui" name='first_name' placeholder="enter new first name">
        <input class="ui" name='last_name' placeholder="edit new last name">
        <input type="file" name="image">
        <button class="ui button" name="submit" id="submit" type="submit">edit</button>
    </form>

{% endblock %}
</body>
</html>