<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>signup</title>
</head>
<body>
<div class="ui large middle center aligned grid">
    <form id=”register_form”>
        <input class="" name=”first_name” type="">
        <input class="" name=”last_name”>
        <input class="" name=”username”>
        <input class="" name=”email”>
        <input class="" name=”password1”>
        <input class="" name=”password2”>
        <button class="" name=”submit" type="submit"></button>
    </form>
</div>
</body>
</html>